.admin{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background-color: red;
    height: 73.6vh;
}
.back{
    all:unset;
    color:black;
    cursor:pointer;
    margin-left: 20px;
}
.arrow{
    height: 15px;
    padding-right: 10px;
}