.repairs{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    height: auto;
}
.back{
    all:unset;
    color:black;
    cursor:pointer;
    margin-left: 20px;
}
.arrow{
    height: 15px;
    padding-right: 10px;
}
.rep{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: auto;
}