.header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    width: auto;
    background-image: radial-gradient(circle at 68.55% 17.87%, #4c3430 0, #462a28 16.67%, #3b1a1b 33.33%, #2c0107 50%, #240000 66.67%, #1d0000 83.33%, #160000 100%);
    color:white;
    padding-left: 20px;
    font-size:12px;
}
.intr{
    padding-right: 700px;
}
.cont{
    height: 25px;
    padding-right: 20px;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.facebook{
   all:unset;
   color:white;
   cursor:pointer;
}